
@rendermode InteractiveServer


<!-- TopNavBar -->
<header class="fixed top-0 w-full z-50 bg-slate-50/80 dark:bg-slate-950/80 backdrop-blur-xl shadow-sm shadow-blue-900/5 no-border-tonal-shift">
<div class="flex justify-between items-center px-6 py-4 max-w-7xl ">
<div class="font-manrope font-extrabold text-blue-700 dark:text-blue-500 tracking-tight text-xl">Dev249 Bank</div>
<div class="flex items-center space-gap-4">
<div class="flex items-center space-x-2 mr-4">
<button class="p-2 text-slate-500 hover:text-blue-600 transition-colors">
<span class="material-symbols-outlined" data-icon="notifications">notifications</span>
</button>
<button class="p-2 text-slate-500 hover:text-blue-600 transition-colors">
<span class="material-symbols-outlined" data-icon="help_outline">help_outline</span>
</button>
</div>
<img alt="User profile photo" class="w-10 h-10 rounded-full border-2 border-surface-container-high object-cover" data-alt="Professional headshot of a middle-aged executive man with a kind smile, clean corporate background, soft studio lighting" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAhznnWAFMC3ozq9GHnvs4-WuK1EwMP4eATSnUYfkykqNbAx8FYsOJs3sEskFr5RvzuLdKDUDEEKHiX5kKAejCm0JHbUoLBzHHjB3ukrUL5PtDB-Zgi58e1hn8J7wG5WvSu29GyL49ampVcjIVhORqem4c4QXMrxgDLHu6lty6O2IxC6XtbjLQAdTF027EOQQuO-sHAc6NS_9aL-cZJmBNIiU2m9W5csMNdUgL9or-BE7z3wrobP6dW8Uij992clCq4qYnWBbOrYVc"/>
</div>
</div>
</header>


@code{}